%h1 #{@cliente.nombre}

%ul#details
  %li
    NIF
    = @cliente.nif
  %li
    Número de Cuenta:
    = @cliente.n_cuenta
  %li
    Dirección:
    = @cliente.direccion
    
=link_to "editar mis datos", edit_cliente_path(@cliente)

%h2 Compra Actual
%ul#details
  %li 
    Total:
    =@compra[0]
  - if @compra[0] != 0
    %li
      Productos:
      =@compra[1]
= button_to "Efectuar compra", clientes_comprar_path, :method => :get
= button_to 'Cancelar compra', clientes_cancelar_path, :method => :get
= button_to "Seguir comprando", productos_path, :method => :get
