%h2 Productos

%table#productos
  %thead
    %tr
      %th Producto
      %th Precio
      %th 
      %th 
  %tbody
    - @productos.each do |producto|
      %tr
        %td= producto.nombre 
        %td= producto.precio_venta
        %td= link_to "Recetas con #{producto.nombre}", receta_path(producto.nombre)
        %td= link_to "Comprar #{producto.nombre}", productos_path(:comprado => "#{producto.nombre}")


-# hay que mejorarlo con javascrip y el css