

%h1 Crear Producto

= form_tag productos_path do

  = label :producto, :nombre, 'Nombre del articulo'
  = text_field :producto, 'nombre'

  = label :producto, :categoria, 'Categoria'
  = select :producto, :categoria, ['verdura','carne','legumbre','lacteo','bebida', 'otro']

  = label :producto, :precio_venta, 'Precio de venta'
  = number_field :producto, 'precio_venta', :min => 0.1, :step => 0.1
  
  = label :producto, :precio_compra, 'Precio de compra'
  = number_field :producto, 'precio_compra',:min => 0.1, :step => 0.1
    
  = label :producto, :stock, 'Stock'
  = number_field :producto, 'stock', :min => 0
  
  = label :producto, :descripcion, 'Descripción'
  = text_area :producto, 'descripcion'

  = submit_tag 'Nuevo Producto'
= form_tag productos_path, :method => :get do
  = submit_tag 'Cancelar'
