%h2 #{@producto.nombre}

%ul#details
  %li
    Precio de venta:
    = @producto.precio_venta
  %li
    Stock:
    = @producto.stock

%h3 Description:

%p#description= @producto.descripcion

%h3 Recetas:
-@receta.map do |receta|
  -receta.productos.map do |producto|
    -if producto.nombre == @producto.nombre then
      =link_to "#{receta.titulo}",receta_path(receta)
      
=link_to 'Volver a Productos', productos_path
