<!DOCTYPE html>

%TITULO= link_to "ISIMarket", homepage_index_path

%html
  %head
    %title ISIMarket
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    
    = yield

%BARRA 
- if session[:cliente]
  %toolbar
    = link_to "#{session[:cliente].nombre}", cliente_path(session[:cliente]), :div => "bar", :class => "barra"  
    %ins.barra Compra:    
    %ins.barra= session[:compra][0]
    = link_to 'Nueva receta', new_receta_path, :div => "bar", :class => "barra"
    = link_to 'Salir', logout_path, :div => "bar", :class => "barra"
